/* Base styles for desktop layout */
.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:aliceblue;
    width: 100vw;
    height: 80vh;
    background-color: rgb(61, 2, 61);
}

.parent h1 {
    font-size: 40px;
    margin-top: 0rem;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    margin-left: 3rem;
    margin-top: 3rem;
}

.parent button {
    width: 10rem;
    height: 3rem;
    border-radius: 1rem;
    color: white;
    background-color: rgb(107, 5, 110);
}
.parent p{
    margin-left: 2rem;
}

/* Media query for mobile layout */
@media (max-width: 767px) {
    .parent {
        height: auto;
        align-items: center; 
    }

    .parent h1 {
        font-size: 24px;
        align-items: center; 
    }
    .parent p{
        align-items: center;
        font-size: 12px;
    }

    .parent button {
        width: 15vw;
        height: 10vh;
        border-radius: 3rem;
    }
}
