.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
  
  height:100vh;
  width:100vw;
}

.child1 {
  
 
  margin-left: 1rem;
  height: 15rem;
  width: 35rem;
  color: aliceblue;
  z-index: 5;
}

.child2 {
 
  height: 30rem;
  margin-left: 10rem;
  margin-right: 5rem;
  width: 35rem;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background-color: rgb(37, 3, 69);
  color: aliceblue;
  z-index: 5;
}

.child2 .button,
.child2 .input,
.child2 .p {
  margin-top: 5rem;
}

.child2 button {
  border: 1px solid green;
  width: 20rem;
  height: 2rem;
  border-radius: 2rem;
  background-color: blue;
  margin-left: 1rem;
  margin-top: 1rem;
}

.child2 input {
  width: 20rem;
  height: 2rem;
  background-color: rgb(37, 3, 69);
  margin-left: 1rem;
  /* margin-top: 1rem; */
}

.child2 .p {
  margin-left: 1rem;
}

@media (max-width: 767px) {
  .content {
    flex-direction: column;
  }

  .child1 {
   
    width: auto;
    height:auto;
    max-width: 90vw; /* Set a maximum width to ensure content doesn't overflow */
  }

  .child2 {
    margin: 2rem 0;
    width: auto;
    max-width: 90vw; /* Set a maximum width to ensure content doesn't overflow */
    overflow-y: scroll;
     /* Enable vertical scrolling for child2 if its content exceeds the screen size */
  }
}
